@import "../../static/styles/color";

.searchBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 510px;
  height: 40px;
  background: rgba(255, 255, 255, 1);
  border: 2px solid $primary-color;
  border-radius: 20px;

  .searchIcon {
    display: flex;
    width: 20px;
    height: 20px;
    margin-left: 8px;
    align-items: center;
    justify-content: center;
    color: $primary-color;
  }

  .searchInput {
    height: 28px;
    background: transparent;
    font-size: 14px;
    flex: 1;
    margin: 0 8px;
    border: none;
  }

  .searchBtn {
    width: 80px;
    height: 40px;
    background: $primary-color;
    border-radius: 20px;
    font-size: 18px;
    color: #fff;
    text-align: center;
    line-height: 40px;
  }
}
