.J_AttrUL {
    padding: 0px 20px 18px;
    text-indent: 0px;
    overflow: hidden;

    li {
        display: inline;
        float: left;
        width: 33.33%;
        height: 18px;
        overflow: hidden;
        margin: 10px 0px 0px 0px;
        line-height: 18px;
        vertical-align: top;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: #666;
        font-size: 14px;
    }
}