.ep-pay-step {
    padding: 30px 270px 30px 250px;
    display: block;
}

.ep-order-detail {
    img {
        height:90px;
    }
    .hit-words {
        em {
            color: #0ac265;
        }
    }
}