@import './common';


.submitOrder {
  display: inline-block;
  width: 180px;
  height: 70px;
  line-height: 70px;
  background: rgba(5, 122, 213, 1);
  text-align: center;
  color: #ffffff;
  font-size: 22px;
  margin-top: 20px;
}