.center {
  display: flex;
}

.user-info {
  width: 100%;

  .user-infoPic {
    position: relative;
    margin: 20px 5% 20px;
    height: 130px;
    border-bottom: 1px solid #eee;
    overflow: hidden;
    padding: 0px 5px 0px 0px;
  }
  .filePic {
    width: 100px;
    float: left;
    margin-left: 15px;
    margin-top: 15px;
    position: relative;
    text-align: center;

    .inputPic {
      cursor: pointer;
      opacity: 0;
      filter: alpha(opacity=0);
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 9;
    }

    .am-img-thumbnail {
      padding: 0px;
      margin: 2px;
      display: inline-block;
      max-width: 100%;
      height: auto;
      padding: 2px;
      line-height: 1.6;
      background-color: #fff;
      border: 1px solid #ddd;
      border-radius: 0;
      transition: all 0.2s ease-in-out;
      border-radius: 50%;
    }
  }

  .info-m {
    display: block;
    float: left;
    overflow: hidden;
    line-height: 24px;
    position: absolute;
    left: 6%;
    top: 25px;
    margin-left: 120px;
  }
}
